parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/IssueContext.php

		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:post\\(\\)\\.$#"
			count: 1
			path: src/IssueContext.php

		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:delete\\(\\)\\.$#"
			count: 3
			path: src/Services/IssuesService.php

		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Services/IssuesService.php

		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:patch\\(\\)\\.$#"
			count: 1
			path: src/Services/IssuesService.php

		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:post\\(\\)\\.$#"
			count: 3
			path: src/Services/IssuesService.php

		-
			message: "#^Call to an undefined method ConduitUi\\\\GitHubConnector\\\\Connector\\:\\:put\\(\\)\\.$#"
			count: 1
			path: src/Services/IssuesService.php